.custom-tabs {
    font-family: 'Roboto';
    font-size: 24px;
    color: #444444 !important;
    background-color: #F6F6F6 !important;
    margin: 0px;
    border-bottom: none !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.custom-tab--selected {
    background-color: white !important;
    color: black;
    border-top: 3px solid #E6CC38 !important;
}